body {
    margin: 0;
    background-color:rgb(23, 23, 97);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    color:orange;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#forma {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: row;
    color:aliceblue;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3rem;
}

button {
    margin-top: 5rem;
    padding: 1.5rem;
    color:rgb(198, 157, 45);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50%;
    background-color:rgb(164, 24, 24);
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

